body {
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    font-size: 10pt;
}

.sidebar {
    position: fixed;
    bottom: 0px;
    top: 0px;
    right: -340px;
    width: 300px;
    padding: 100px 40px;
    background-color: #f0f0ee;
    box-shadow: 0px 0px 9px #000;
    transition: 1.2s cubic-bezier(0.32, 1, 0.23, 1);
    transform: translate3d(-0px, 0, 0);
}

.sidebar-open {
    transform: translate3d(-340px, 0, 0)
}

input {
    padding: 4px;
    font-size: 1.2em;
}

input {
    width: 100%;
}

.funstuff {
    position: fixed;
    bottom: 0;
}
.color-button {
  float: left;
  width: 20px;
  border: 1px solid black;
  height: 20px;
}

/* colors */
.orange {
  background-color: #fad189 !important;
}
.blue {
  background-color: #80bbdc !important;
}
.red {
  background-color: #f190a5 !important;
}
.green {
  background-color: #7fc89a !important;
}
.white {
  background-color: white !important;
}
.purple {
  background-color: #b49bc4 !important;
}

/* block styling */
.block h1 {
  font-size: 1.3em;
}

.block > a {
  float: right;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #fad189;
}

.block:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center center;
}

.block.keypartners:before {
  background-image: url('resources/key-partners_1-new.svg');
}
.block.keyactivities:before {
  background-image: url('resources/key-activities_1-new.svg');
}
.block.keyresources:before {
  background-image: url('resources/key-resources_1-new.svg');
}
.block.valuepropositions:before {
  background-image: url('resources/value-proposition_1-new.svg');
}
.block.customerrelationships:before {
  background-image: url('resources/customer-relationships_1-new.svg');
}
.block.channels:before {
  background-image: url('resources/channels_1-new.svg');
}
.block.customersegments:before {
  background-image: url('resources/customer-segments_1-new.svg');
}
.block.coststructure:before {
  background-image: url('resources/cost-structure_1-new.svg');
}
.block.revenuestreams:before {
  background-image: url('resources/revenue-streams_1-new.svg');
}

/* post it styling */
.postit {
  padding: 5px;
  background-color: #fad189;
  z-index: 999;
}

.postit > a {
  float: right;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
}

.postit .handle {
  cursor: move;
  border: 1px solid black;
}

.react-draggable-dragging {
  z-index: 999;
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
