node_modules
npm-debug.log
.DS_Store
client/dist
client/node_modules
server/node_modules
/envision-server/public/fonts
/envision-server/public/resources
/envision-server/public/static
/envision-server/public/index.html
/envision-server/public/style.css
