body {
    margin: 0;
    padding: 0;
}
/*
.box {
    padding: 20px 0;
    border: 2px solid white;
    position: absolute;
    border-radius: 8px;
    background-color: #2d3e4e;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    font-family: arial;
    font-weight: 800;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-selected {
    background-color: #f99b1d;
}
*/
/*.canvas svg {
    background-color: #2d3e4e;
    position: absolute;
    left: 0px;
    top: 0px;
}

.canvas svg, .canvas {
    width: 100%;
    height: 100%;
}

.canvas path {
    stroke-width: 2;
    stroke: white;
    marker-end: url(#markerArrow);
}

#markerArrow {
    stroke-width: 1;
    stroke: white;
    fill: #2d3e4e;
}

.canvas path {
    fill: '#000000';
}
*/
.sidebar {
    position: fixed;
    bottom: 0px;
    top: 0px;
    right: -340px;
    width: 300px;
    padding: 100px 40px;
    background-color: #f0f0ee;
    box-shadow: 0px 0px 9px #000;
    transition: 1.2s cubic-bezier(0.32, 1, 0.23, 1);
    transform: translate3d(-0px, 0, 0);
}

.sidebar-open {
    transform: translate3d(-340px, 0, 0)
}

input {
    padding: 4px;
    font-size: 1.2em;
}

input {
    width: 100%;
}

.funstuff {
    position: fixed;
    bottom: 0;
}
.color-button {
  float: left;
  width: 20px;
  border: 1px solid black;
  height: 20px;
}

/*
.add-button {
    background-color: #4CAF50; / * Green * /
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 2px;
    -webkit-transition-duration: 0.2s; / * Safari * /
    transition-duration: 0.2s;
}

.add-button:hover {
    background-color: white;
    color: #4CAF50; / * Green * /
    border: 2px solid #4CAF50;
}

.delete-button {
    background-color: inherit;
    border: none;
    color: red;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: lightgreen;
    color: #000;
    border: 2px solid #4CAF50;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 2px;
    padding: 2px 8px;

    / * Position the tooltip * /
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}*/
/*
.postit {
    position: 'absolute';
	border: 0px solid grey;
	background-color: yellow;
    box-shadow: 5px 5px grey;
	padding: 2px 2px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.postit-selected {
	border: 2px solid grey;
}
*/

body {
  font-family: "Verdana";
  font-size: 10pt;
}

/* colors */
.orange {
  background-color: #fad189 !important;
}
.blue {
  background-color: #80bbdc !important;
}
.red {
  background-color: #f190a5 !important;
}
.green {
  background-color: #7fc89a !important;
}
.white {
  background-color: white !important;
}
.purple {
  background-color: #b49bc4 !important;
}

/* block styling */
.block h1 {
  font-size: 1.3em;
}

.block > a {
  float: right;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #fad189;
}

.block:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center center;
}

.block.keypartners:before {
  background-image: url('resources/key-partners_1-new.svg');
}
.block.keyactivities:before {
  background-image: url('resources/key-activities_1-new.svg');
}
.block.keyresources:before {
  background-image: url('resources/key-resources_1-new.svg');
}
.block.valuepropositions:before {
  background-image: url('resources/value-proposition_1-new.svg');
}
.block.customerrelationships:before {
  background-image: url('resources/customer-relationships_1-new.svg');
}
.block.channels:before {
  background-image: url('resources/channels_1-new.svg');
}
.block.customersegments:before {
  background-image: url('resources/customer-segments_1-new.svg');
}
.block.coststructure:before {
  background-image: url('resources/cost-structure_1-new.svg');
}
.block.revenuestreams:before {
  background-image: url('resources/revenue-streams_1-new.svg');
}

/* post it styling */
.postit {
  padding: 5px;
  background-color: #fad189;
}

.postit > a {
  float: right;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
}
